*{
    padding: 0;
    margin: 0;
}

/* asside section */

.aside{
    background-color:#EE7214;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    

    
}




.img{
    height:250px;
    width:250px;
    border-radius: 75%;
    border-style: solid;
    border-width: 10px;
    border-color: #FF914D;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: column;    
}
.nav li{
    margin: 30px;
    list-style-type: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

   


li a{
    text-decoration: none;
    color:black;
}

/* li a:hover
 {
    background-color:#FF914D;
    box-shadow:5px 5px 5px black;
    color: black;
    padding:10px;
    border-radius: 10px;

} */

.nav li a:hover,
a.active{
    background-color: #FF914D;
    box-shadow:10px 10px 5px black;
    color: black;
    padding:10px;
    border-radius: 10px;
}

/* li a:focus{
    background-color: #FF914D;
    box-shadow:10px 10px 5px black;
    color: black;
    padding:10px;
    border-radius: 10px;
    
} */



/* about section */

.main{
    background-color:#F9E8D9;
    width: 75vw;
    height: 100vh;
    margin-left: 25%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    
}

.about{
    display: grid;
    grid-template-rows: 40% 60%;
}

.namecontainer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.name{
    color:black;
    font-size: 80px;
    text-shadow: #FF914D 5px 5px 5px;
    animation-name: name;
    /* animation: name 1s infinite alternate; */

}

/* @keyframes name {
    50%  {background-color:white;}
    100%  {background-color:#FF914D;}

  } */

.posting{
    color: black;
    font-size: 40px;
    position: relative;
    left: 100px;
}

.aboutcontainer{
    height: 30vh;
}



.aboutcontainer{
    height: 60vh;
    display: flex;
    justify-content: center;
}

.heading{
    color: #994A39;
    font-size: 40px;
    position: relative;
    right: 40px;
}

.content{
    box-sizing: border-box;
    height:320px ;
    width: 1000px;
    /* background-image: linear-gradient(to right rgba(255, 145, 77, 0.7)); */
    background-image: linear-gradient(to right,#EE7214,#F9E8D9);
    border-radius: 10px;
    font-size: 30px;
    margin-top: 50px;
    padding: 20px;
}


/* education section */

.education{
    display: grid;
    grid-template-rows: 20% 40% 40%;
    height: 100vh;
  
}


.main_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_head div{
    color: #994A39;
    font-size: 60px;
}

.hob_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hob_head div{
    color: #994A39;
    font-size: 60px;
}

.con_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con_head div{
    color: #994A39;
    font-size: 60px;
}


.education_head{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
    margin-bottom: 50px;

}

.education_content{
    line-height: 80px;
    font-size: 25px;
    margin-left: 200px;
    font-weight: lighter;
   
}

.education_content ul{
    box-sizing: border-box;
    width: 800px;
    
    background-image:linear-gradient(to right,#EE7214,#F9E8D9); 
    border-radius: 10px;
    list-style-type: none;
}

.education_content ul li{
    margin-left: 30px;
}

/* learning section */

.learning{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.lern_head{
    color: #994A39;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subjects{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 50px;
    

}



.progress_bar { 
    background-color: rgb(192, 192, 192); 
    width: 90%; 
    border-radius: 15px; 
}

.html{
    width: 80%; 
}

.skill { 
    background-color:#527853; 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
}

.css{
    width: 70%;
}

.javaScript{
    width: 10%;
}

.problemSolving{
    width: 80%;
}

.subjects div h2{
    margin-bottom: 10px;
}

/* hobbies section */

.hobbies{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;

}

.hobbies_content{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

.hobbie-img{
    height: 400px;
    width: 300px;
    box-sizing: border-box;
    background-color: #EE7214;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    transition:transform 0.3s ease-in-out

}

.hobbie-img:hover{
    transform: scale(1.1);
    box-shadow: #0C2D57 10px 10px 5px;
}

.hobbies-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    
}
.hobbies-main div{
    margin: 25px;
}



/* contact section */

.contact{
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100vh;
}

.contact_deatails{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}

.icon {
    height:70px;
    width: 600px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#EE7214,#F9E8D9);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 1s;

}
.icon:hover{
    width: 750px;
    color:#0C2D57;
}

.icon a:hover{
    color:#0C2D57;
}


.fa-regular{
    font-size: 50px;
}

.fa-brands{
    font-size: 50px;
}

.icon div{
    margin-left: 30px;
}

.contact_deatails div div a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    


}


/* media query */



@media screen and (max-width:480px){

    .container{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width:400px;
    }

    .asside{
        height:7%;
        width: 100%;   
    }
    .body{
        width:100%;
    }

    .asside div img{
        display: none;

    }

    .navbar{
        width: 100%;
        
    }

    .asside .navbar ul {
        display: flex;
        flex-direction: row;
        
        
    }

    .asside .navbar ul li{
        font-size: 11px;
        width: 80%;
        margin: 5px;
        
    }

    .main{
        margin-left: 0;
        height:100vh;
        width: 100vw;
    }

    .about{
        height: 100vh;
        margin-top: 10vh;
        display: grid;
        grid-template-rows: 40% 60%;
    }
        
    .namecontainer{
        height: 30vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .name{
        font-size: 50px;
    }
   

    .posting{
        font-size:20px ;
        margin-right: 100px;
    }

    .aboutcontainer{
        height:60vh ;
        width: 100vw;
    }

    .about_content{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* education page */

    .heading{
        font-size: 30px;
        margin-right: 160px;
    }


    .content{
        box-sizing: border-box;
        height: 50vh;
        width: 90vw;
        font-size: 20px;
    }

    .education{
        margin-top: 10vh;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 20% 40% 40%;
    }

    .main_head div{
        font-size: 40px;
       margin-right: 340px;
    }

    .education_head{
        font-size: 25px;
    }

    .education_content {
        font-size: 20px;
        margin: 0;
        box-sizing: border-box;
        height: auto;
        width: 90%;
        margin-left: 10px;
        
    }

    .education_content ul li{

        width: 100vw;
        padding-right: 300px;
        margin-left: 10px;
       
    }

    /* learning page */



    .learning{
        margin-top: 10vh;
    }

    .hob_head div{
        font-size: 40px;
    }
    .lern_head{
        font-size: 40px;
    }

    .skill{
        font-size: 15px;
    }

    /* hobbies page */

    
    .hobbies{
        height:auto;
        display: grid;
        grid-template-rows:3% 97%;
        padding-top: 10vh;
    }

    .hobbies-main{
        margin: 0;
    }

    .hobbies_content div{
        font-size: 20px;
        margin: 10px;
    }

    .hobbies_content img{
        display: flex;
        flex-wrap: wrap;

    }

    /* contact page */

    .contact{
        width: 100vw;
        margin-top: 10vh;
       
    }

     .con_head div{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon{
        height: 60px;
        width: 350px;
        margin-right: 30px;
        
    }

    .fa-regular{
        font-size: 40px;
    }
    
    .fa-brands{
        font-size: 40px;
    }
    
    .icon div{
        margin-left: 10px;
        transition: width 1s;
    }

    .icon:hover{
        width:380px ;
    }
    
    .contact_deatails div div a{
       
        font-size: 15px;
    }
}